{% extends 'base.html' %}
{% load urlify %}

{% block head_title %} {{ instance.title }}|{{ block.super }} {% endblock head_title %}
{% block content %}
<div class = 'col-sm-6 col-sm-offset-3'>
{% if instance.image %}
<img src='{{ instance.image.url }}' class = 'image-responsive'/>
{% endif %}
<h1>{{ title }} <small>{% if instance.draft %}<span style='color:red;'>Draft</span> {% endif %}{{ instance.publish }}</small></h1>
{%  if instance.get_full_name %}
<p>Author: {{ instance.get_full_name }}</p>
{% endif %}

{{ share_string }}
{{ instance.content |urlify }}


<a href="https://www.facebook.com/sharer/sharer.php?u={{request.build_absolute_url}}">
Facebook</a>

<a href="https://twitter.com/home?status={{ share_string }}
%20{{request.build_absolute_url}}"> Twitter</a>

<a href='https://plus.google.com/share?url={{request.build_absolute_url}}'>GooglePlus </a>

<a href="https://www.linkedin.com/shareArticle?mini=true&url={{request.build_absolute_url}}/&title={{ instance.title }}&summary={{ share_string }}&source={{request.build_absolute_url}}">Linkedin</a>

<a href="http://www.reddit.com/submit?url={{request.build_absolute_url}}/&title={{ share_string }}">Reddit</a>

{{ instance.content|linebreaks }} </br>

<div class="fb-comments" data-href="{{request.build_absolute_url}}" data-numposts="5"></div>

</div>


{% endblock content %}
